body {
    font-family: Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Full viewport height */
}

.container {
    background: #fff; /* White background */
    padding: 20px; /* Padding around the container */
    border-radius: 25px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0,0,0,0.2); /* Shadow for depth */
    max-width: 650px; /* Maximum width of the container */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

h1 {
    text-align: center; /* Center-align heading */
}

.form-row {
    display: flex; /* Flex layout for form rows */
    justify-content: space-between; /* Space evenly between items */
    margin-bottom: 5px; /* Bottom margin for spacing */
    margin-right: 10px; /* Right margin for spacing */
}

.form-group {
    flex: 1; /* Take up equal space in the flex container */
    margin-bottom: 15px; /* Bottom margin for spacing */
    margin-right: 20px; /* Right margin for spacing */
}

.form-group:last-child {
    margin-right: 0; /* No right margin */
}

label {
    display: block; /* Block level display for labels */
    margin-bottom: 5px; /* Bottom margin for spacing */
}

input[type="number"], select {
    width: calc(100% - 10px); /* Full width minus 10px for padding */
    padding: 8px; /* Padding for input elements */
    margin-bottom: 5px; /* Bottom margin for spacing */
}

input[type="range"] {
    width: 100%; /* Full width for range input */
}

.results {
    margin-top: 20px; /* Top margin for separation */
}

.results h2 {
    text-align: center; /* Center-align heading */
    margin-bottom: 15px; /* Bottom margin for spacing */
}

.details {
    display: flex; /* Flex layout for details */
    justify-content: space-between; /* Space evenly between items */
    border-top: 2px solid #ccc; /* Top border for separation */
    padding-top: 10px; /* Top padding for spacing */
}

.detail-item {
    flex: 1; /* Take up equal space in the flex container */
    margin-right: 10px; /* Right margin for spacing */
}

.detail-item:last-child {
    margin-right: 0; /* No right margin */
}

p {
    margin: 15px 0;
}

@media (max-width: 600px) {
    .form-row {
        flex-direction: column; /* Stack form rows vertically on smaller screens */
    }

    .form-group {
        margin-right: 0; /* Remove right margin for form groups */
    }

    .details {
        flex-direction: column; /* Stack details vertically on smaller screens */
    }

    .detail-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .detail-item:last-child {
        margin-bottom: 0;
    }
}
